<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fc69bd">  <td>19/01/14 11:22:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.Logout()[pri:0, instance:com.partner.qa.testcases.LoginPageTest@49e5f737]">Logout</td> 
  <td>main@1641415002</td>   <td></td> </tr>
<tr bgcolor="fc69bd">  <td>19/01/14 11:23:12</td>   <td>25728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.inValidloginTest()[pri:0, instance:com.partner.qa.testcases.LoginPageTest@49e5f737]">inValidloginTest</td> 
  <td>main@1641415002</td>   <td></td> </tr>
<tr bgcolor="fc69bd">  <td>19/01/14 11:22:40</td>   <td>-6080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup()[pri:0, instance:com.partner.qa.testcases.LoginPageTest@49e5f737]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1641415002</td>   <td></td> </tr>
<tr bgcolor="fc69bd">  <td>19/01/14 11:23:03</td>   <td>16634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup()[pri:0, instance:com.partner.qa.testcases.LoginPageTest@49e5f737]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1641415002</td>   <td></td> </tr>
<tr bgcolor="fc69bd">  <td>19/01/14 11:23:14</td>   <td>27334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup()[pri:0, instance:com.partner.qa.testcases.LoginPageTest@49e5f737]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1641415002</td>   <td></td> </tr>
<tr bgcolor="fc69bd">  <td>19/01/14 11:23:02</td>   <td>16023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.teardown()[pri:0, instance:com.partner.qa.testcases.LoginPageTest@49e5f737]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1641415002</td>   <td></td> </tr>
<tr bgcolor="fc69bd">  <td>19/01/14 11:23:13</td>   <td>26725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.teardown()[pri:0, instance:com.partner.qa.testcases.LoginPageTest@49e5f737]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1641415002</td>   <td></td> </tr>
<tr bgcolor="fc69bd">  <td>19/01/14 11:23:28</td>   <td>41848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifylogintitle()[pri:0, instance:com.partner.qa.testcases.LoginPageTest@49e5f737]">verifylogintitle</td> 
  <td>main@1641415002</td>   <td></td> </tr>
<tr bgcolor="fc69bd">  <td>19/01/14 11:23:28</td>   <td>41851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifypartnerlogintest()[pri:0, instance:com.partner.qa.testcases.LoginPageTest@49e5f737]">verifypartnerlogintest</td> 
  <td>main@1641415002</td>   <td></td> </tr>
</table>
