<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="979589">  <td>19/01/14 11:18:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashboardTest.AddPatient_collectsample()[pri:0, instance:com.partner.qa.testcases.DashboardTest@4e3958e7]">AddPatient_collectsample</td> 
  <td>main@895281180</td>   <td></td> </tr>
<tr bgcolor="979589">  <td>19/01/14 11:18:29</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashboardTest.Addpateint_Sendphlebotmist()[pri:0, instance:com.partner.qa.testcases.DashboardTest@4e3958e7]">Addpateint_Sendphlebotmist</td> 
  <td>main@895281180</td>   <td></td> </tr>
<tr bgcolor="979589">  <td>19/01/14 11:18:29</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DashboardTest.Addpateint_callPhlebotmist()[pri:0, instance:com.partner.qa.testcases.DashboardTest@4e3958e7]">Addpateint_callPhlebotmist</td> 
  <td>main@895281180</td>   <td></td> </tr>
<tr bgcolor="c9d689">  <td>19/01/14 11:18:29</td>   <td>-22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.Logout()[pri:0, instance:com.partner.qa.testcases.LoginPageTest@37883b97]">Logout</td> 
  <td>main@895281180</td>   <td></td> </tr>
<tr bgcolor="c9d689">  <td>19/01/14 11:18:29</td>   <td>-18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.inValidloginTest()[pri:0, instance:com.partner.qa.testcases.LoginPageTest@37883b97]">inValidloginTest</td> 
  <td>main@895281180</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>19/01/14 11:18:29</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RateCardTest.setUp()[pri:0, instance:com.partner.qa.testcases.RateCardTest@6ab778a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@895281180</td>   <td></td> </tr>
<tr bgcolor="c9d689">  <td>19/01/14 11:18:29</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup()[pri:0, instance:com.partner.qa.testcases.LoginPageTest@37883b97]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@895281180</td>   <td></td> </tr>
<tr bgcolor="979589">  <td>19/01/14 11:18:29</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DashboardTest.setup()[pri:0, instance:com.partner.qa.testcases.DashboardTest@4e3958e7]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@895281180</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>19/01/14 11:18:29</td>   <td>-7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RateCardTest.test_detail()[pri:0, instance:com.partner.qa.testcases.RateCardTest@6ab778a]">test_detail</td> 
  <td>main@895281180</td>   <td></td> </tr>
<tr bgcolor="b4a4bf">  <td>19/01/14 11:18:29</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RateCardTest.verify_Ratecardpage()[pri:0, instance:com.partner.qa.testcases.RateCardTest@6ab778a]">verify_Ratecardpage</td> 
  <td>main@895281180</td>   <td></td> </tr>
<tr bgcolor="c9d689">  <td>19/01/14 11:18:29</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifylogintitle()[pri:0, instance:com.partner.qa.testcases.LoginPageTest@37883b97]">verifylogintitle</td> 
  <td>main@895281180</td>   <td></td> </tr>
<tr bgcolor="c9d689">  <td>19/01/14 11:18:29</td>   <td>-10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifypartnerlogintest()[pri:0, instance:com.partner.qa.testcases.LoginPageTest@37883b97]">verifypartnerlogintest</td> 
  <td>main@895281180</td>   <td></td> </tr>
</table>
